/* responsive tablet display */
@media all and (max-width :1000px) {
  .right-nav{
    width: 30%;
  }
  .main-container{
      width: 100%;
      margin:0;
  }
  .main-news-card{
      max-width: 95%;
      line-height: 100%;
      line-height: 1;
  }
  .main-news-card-img{
      width: 100%;
  }
}
/* responsive smartphone display */
@media all and (max-width: 680px){
  .logo{
    max-width: 100px;
    margin: 0 0 0 50px;
  }
  .nav-left{
    padding-left: 1px;
  }
  .nav-right{
    padding-right: 100px; 
    position: absolute;
    display: none;
  }
  .menu-icon {
    width: fit-content;
    line-height: 10px;
    display: block;
  }
  .btn{
    padding: 3px 24px;
    color: white;
    display: inline-block;
    opacity: 0.6;
    border-radius: 2px;
    text-align: center;
  }
  .main-news-card-container{
      /* max-height: 10px; */
      position:relative;
  }
  .main-news-card{
      /* line-height: 1; */
      padding: 10px;
      max-width:95%;
      max-height:95%;
      overflow:auto;
      margin-top: 22px;
  }
  .main-news-card-img{
      width: 100%;
  }
  .main-news-tags{
    left: 10px;
    position:absolute;
    /* padding: 5px 15px; */
  }
  .logo{
    margin: 0 0 0 10px;
  }
}